html,
body {
  background-color: black !important;
  color: white; /* Optional: This sets the text color to white for better contrast */
  margin: 0; /* Remove default margin */
  height: 100% !important; /* Ensure the body takes the full height of the viewport */
}
#root {
  background-color: black !important;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh !important;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  background-color: black !important;
}

@media screen and (max-width: 768px) {
  .app {
    display: block;
  }
}
